Package: cjdns
Version: 0.20.0-rc1
Section: net
Maintainer: Ryan Sundberg <ryan@arctype.co>
Architecture: arm64
Description: Cjdns: An encrypted IPv6 network using public-key cryptography for address allocation and a distributed hash table for routing.
Priority: extra
